/* Header Styles */
header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    height: 40px;
    margin-left: 20px;
}